<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Subject Matter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Subject Matter</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <ion-label>All Users</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let user of activeUser" detail (click)="goToDetails(user._id)">
      <ion-avatar>
        <img src="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png" />
      </ion-avatar>
      <ion-label class="ion-margin-start"> 
        <h4>Name: {{user.Name}}</h4>  
        <h5>Email: {{user.email}} </h5>
        <h5>DOB: {{user.DOB}} </h5>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
